In [ ]:
## in the first note book i did the data visualization part
## now in the second notebook, i am going to do model training part
## first importing all the main libraries

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [ ]:
## this is a regression problem so i have imported all the machine learning models related to regression

In [8]:
## laoding the data into my system
data = pd.read_csv(r"C:\SQL2019\ml_project_complete\data\stud.csv")

In [9]:
data.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [10]:
## for thsi project i will consider maths score as my output
## and rest columns will be considered as the input
x = data.drop(columns=["math_score"],axis =1)
y = data["math_score"]

In [11]:
x

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,99,95
996,male,group C,high school,free/reduced,none,55,55
997,female,group C,high school,free/reduced,completed,71,65
998,female,group D,some college,standard,completed,78,77
999,female,group D,some college,free/reduced,none,86,86

In [12]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [13]:
data.head(1)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74

In [15]:
print("Categories in 'gender' variable:     ",end=" " )
print(data['gender'].unique())

print("Categories in 'race_ethnicity' variable:  ",end=" ")
print(data['race_ethnicity'].unique())

print("Categories in'parental level of education' variable:",end=" " )
print(data['parental_level_of_education'].unique())

print("Categories in 'lunch' variable:",end=" " )
print(data['lunch'].unique())


print("Categories in 'test preparation course' variable:     ",end=" " )
print(data['test_preparation_course'].unique())

Categories in 'gender' variable:      ['female' 'male']
Categories in 'race_ethnicity' variable:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in'parental level of education' variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable: ['standard' 'free/reduced']
Categories in 'test preparation course' variable:      ['none' 'completed']

In [19]:
numerical_features = x.select_dtypes(exclude="object").columns
categorical_features = x.select_dtypes(include="object").columns

from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer

ohe_transformer = OneHotEncoder()
ss_transformer = StandardScaler()

processor = ColumnTransformer(
    [
        ("one_hot_encoder",ohe_transformer,categorical_features),
        ("standard_scaler",ss_transformer,numerical_features)
    ]
)

In [20]:
x = processor.fit_transform(x)

In [21]:
x

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.19399858,  0.39149181],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         1.42747598,  1.31326868],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.77010859,  1.64247471],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206, -0.20107904],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.60515772,  0.58901542],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.15336989,  1.18158627]])

In [26]:
## now splitting my data into training and testing dataset
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=42)

In [27]:
x_train.shape

(800, 19)

In [28]:
x_test.shape

(200, 19)

In [29]:
y_train.shape

(800,)

In [30]:
y_test.shape

(200,)

In [ ]:
## my data is all fine , now i can move further

In [39]:
## create a evaluate fucntion
def evaluate(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    r2_scores = r2_score(true,predicted)
    return mae,rmse,r2_scores

In [60]:
## now here i will be doing actual experiment with my data on diffrent diffrent machine leanring models
## and i will select that machine learning model which is giving maximum accuracy on my model
models = {
    "Liner Regression":LinearRegression(),
    "KNeighborsRegressor":KNeighborsRegressor(),
    "DecisionTreeRegressor":DecisionTreeRegressor(),
    "RandomForestRegressor":RandomForestRegressor(),
    "AdaBoostRegressor":AdaBoostRegressor(),
    "Ridge":Ridge(),
    "Lasso":Lasso(),
    "CatBoostRegressor":CatBoostRegressor(verbose = False),
    "XGBRegressor":XGBRegressor()
}

model_list = []
r2_scores = []
rmse_score = []
mae_score = []


for i in range(len(list(models.values()))):
    model = list(models.values())[i]
    model_list.append(list(models.keys())[i])
    ## training the model
    model.fit(x_train,y_train)
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)
    mae_train,rmse_train,r2_score_train = evaluate(y_train,y_train_pred)
    mae_test,rmse_test,r2_score_test = evaluate(y_test,y_test_pred)
    r2_scores.append(r2_score_test)
    rmse_score.append(rmse_test)
    mae_score.append(mae_test)

    ## i do not want to consider each matriccs
    ## for my model selection i will only consider r2 score of test data

In [63]:
rmse_score

[5.425185408698029,
 7.253040741647602,
 7.8806725601308925,
 6.066195866862435,
 6.024691180968213,
 5.390387016935637,
 6.519694535667419,
 6.008631956907363,
 6.4733073671713335]

In [61]:
r2_scores

[0.8790464771743793,
 0.7838129945787431,
 0.7447792867874532,
 0.848775481818164,
 0.8508377476549688,
 0.8805931485028738,
 0.8253197323627853,
 0.8516318920747058,
 0.8277965653186071]

In [51]:
model_list

['Liner Regression',
 'KNeighborsRegressor',
 'DecisionTreeRegressor',
 'RandomForestRegressor',
 'AdaBoostRegressor',
 'Ridge',
 'Lasso',
 'CatBoostRegressor',
 'XGBRegressor']

In [62]:
mae_score

[4.2221875,
 5.621,
 6.245,
 4.699104166666666,
 4.690244732784971,
 4.21110068801426,
 5.157881810347763,
 4.612531714976557,
 5.057730598449707]

In [53]:
print(len(r2_scores))
print(len(model_list))

9
9

In [56]:
list(zip(model_list,r2_scores))

[('Liner Regression', 0.8790464771743793),
 ('KNeighborsRegressor', 0.7838129945787431),
 ('DecisionTreeRegressor', 0.7107731455454627),
 ('RandomForestRegressor', 0.8533329427450049),
 ('AdaBoostRegressor', 0.8434284390476168),
 ('Ridge', 0.8805931485028738),
 ('Lasso', 0.8253197323627853),
 ('CatBoostRegressor', 0.8516318920747058),
 ('XGBRegressor', 0.8277965653186071)]

pd.Dataframe(list(zip(model_list,r2_scores)))

In [59]:
pd.DataFrame(list(zip(model_list,r2_scores)),columns = ["machine_learning_model","corresponding_r2_score"])

  machine_learning_model  corresponding_r2_score
0       Liner Regression                0.879046
1    KNeighborsRegressor                0.783813
2  DecisionTreeRegressor                0.710773
3  RandomForestRegressor                0.853333
4      AdaBoostRegressor                0.843428
5                  Ridge                0.880593
6                  Lasso                0.825320
7      CatBoostRegressor                0.851632
8           XGBRegressor                0.827797

In [ ]:
## out of all these my linear regression is performing very well mainly on test data, it is giving me maximum accuracy of 87% 
## so i will choose linear regression for my model prediction

In [64]:
dict = {"a":1,"b":2}
len(dict)

2

In [68]:
list(dict.values())[0]

1

In [69]:
dict["a"]

1

In [70]:
dict["c"] =4

In [72]:
dict

{'a': 1, 'b': 2, 'c': 4}

In [73]:
list = [1,2,23,4]
list.index(1)

0